html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(242,244,233);
}

.container{
    height:100%;
}
.container .section{
	width:100%;
}
.container .canvas{
	width:100%;
	background:rgb(55,55,55);
	height:600px;
}

/*------------font-------------*/
body{
	font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.3em;}
p{
	font-family:"Droid Serif", serif;
}

/*------------styling for axes-----------*/
.axis .domain{
    fill:none
}
.axis .tick line{
    stroke:rgb(44,44,44);
    stroke-width:.5px;
}
.axis .tick text{
    font-size:10px;
    fill:rgb(120,120,120);
}

div.tooltip {
	position: absolute;
	text-align: center;
	fill:rgb(120,120,120);
	font-weight: bold;
	width: 200px;
	height: 18px;
	padding: 2px;
	font: 12px sans-serif;
	background:rgb(255,255,255);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}